*{
	margin: 0;
	padding: 0;
}

.content{
	width: 505px;
	height: 600px;
	margin: auto;
	margin-top: 100px;
}

h2{
	color: black;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
}

.connect_logo{
	width: 100%;
	height: 100px;
	margin-top: 30px;
}

.connect_logo img{
	width: 40px;
	height: 31px;
	padding: 10px;
	padding-left: 40px;
}

.logo img{
 	width: 57px;
	height: 57px;
	padding-left: 220px;
}

.login p{
	padding-left: 40px;
	font-family: arial;
	font-weight: bold;
}

.forms{
	padding-left: 40px;
}